@keyframes aattack{
    0%{
        transform: translateX(0vw);

    }
    50%{
        transform: translateX(-50vw);
    }
    100%{
        transform: translateX(-100vw);
    }
}
@keyframes shipAttack {
    0%{
        transform: translateX(0vh);
    }
    50%{
        transform: translateX(-25vh);

    }
    100%{
        transform: translateX(0vh);

    }
}

body{
    background-color: black;
}
.gameBoard{
    border: solid white;
    height: 100vh;
    margin: 1em;
    display: flex;
    justify-content: space-between;
}
.legend{
    border:solid blue;
    height: 22vh;
    background: black;
    border-radius: 22px;
    margin: 2em;
    display:flex;
    color: white;

}
.us{
    margin: 1em;
    width: 30px; 
}
.them{
    border: solid red;
    margin: 1em;
    width: 210px;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    
}
.score{
    border:solid green;
    border-radius: 22px;
    margin:1em;
    padding: 1em;
    color: white;

}
.ship{
    height: 120px;
    margin-top: 20vh;
    -webkit-transform:rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
.alienContainer{
    margin:1em;
    justify-content:right;
    border-color:lime;
    display: flex;
}
.alien{
    height: 40px;
    display: flex;

}
.title{
    color:goldenrod;
    border:5px;
    border-style: double;
    text-align: center;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 18px;
    letter-spacing: 3.6px;
    word-spacing: 0px;
    font-weight: 700;
    text-decoration: none;
    font-style: normal;
    font-variant: small-caps;
    text-transform: none; 
}.initiateAttack{
    animation: aattack 3s ease-in 
    infinite;
}
.alienBtn{
    background-color: white;
    color:black;

}
.healthbar{
    border: solid goldenrod;
    justify-content: space-evenly;
    height: 50;
    border-width: 0.2px;
    display:flex;
    width: 30px;

}
.fifty{
    background-color: red;
    width: 50%;

}
.hundred{
    background-color: green;

}
.ufo{
    display: flex;
}



























/* Css for hiding bullet
boomtoggle{
        width:6vh;
        z-index: 0;
        position: absolute;
        top:10.5em;
        animation-name: shoot;
        animation-duration: 4s;
        animation-iteration-count: 1;

}
.boom{
    width:6vh;
    z-index: 0;
    position: absolute;
    top:10.5em;
.ship{
    height: 6vh;
    margin-top:7em;
    z-index: 1;
    position: absolute;
@keyframes shoot {
  from {  transform:translateX(0%);
  }
  to {transform:translateX(800%)}
}*/
